body{
	margin: 0;
	padding: 0;
}
.manubar{
	margin: 4px;
	height: 120px;
	border: 1px solid #a59595;
	overflow: hidden;
}
.logo img{
	width: 125px;
	margin-top: 5px;
	margin-left: 60px;
}
.logo{
	float: left;
}
.manu ul{
	margin-right: 60px;
	margin-top: 50px;
	float: right;
}

.manu ul li{
	list-style: none;
	float: left;

}
.manu ul a{
	padding: 30px;
	text-decoration: none;
	color: #656060;
	position: relative;
}
.manu ul a:hover{
	color: #92e95b;
}
.manu ul a:before{
	content: '';
	height: 20px;
	width: 40px;
	top: -19px;
	right: 30px;
	border-top: 3px solid #92e95b;
	position: absolute;
	display: none;
}
.manu ul a:hover:before{
	display: block;
}